$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$light-gray: #ddd;


$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;

$base-border-radius: 3px;
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

button, .button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $font-sans;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  width: 100%;
  text-align: center;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
