---
layout: default
title: The Apprenticeship Community
page_id: home
js: [home]
---
<section class="about">
  <article>
    <main>
      <p>We're a community of practitioners fostering
      work cultures of learning and growth. Together
      we explore:</p>
      <ul>
        <li>Techniques and practices for learning at
          work.</li>
        <li>Ways to support our team members' continued
          learning.</li>
        <li>Principles and strategies for learning quickly
          and effectively.</li>
      </ul>
      <section class="top apply-to-join">
        {% include application-form.html %}
      </section>
    </main>
  </article>
  <article>
      <form class="newsletter-form" action="//zincma.us10.list-manage.com/subscribe/post?u=98b8f8c03bd82967b1546efee&amp;id=cd1a540c50" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form">
        <main>
        <label for="mce-EMAIL">Email:  <span class="asterisk">*</span>
          <input type="email" placeholder="your-email@example.com" name="EMAIL" required id="mce-EMAIL">
        </label>
        <label for="mce-PNAME">Preferred Name:
          <input type="text" placeholder="You" name="PNAME" id="mce-PNAME">
        </label>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;"><input type="text" name="b_98b8f8c03bd82967b1546efee_cd1a540c50" tabindex="-1" value=""></div>
        </main>
        <footer>
          <p class="indicates-required"><span class="asterisk">*</span> indicates required field</p>
          <br />
        <button name="subscribe" id="mc-embedded-subscribe">Sign Up For Monthly Emails</button>
        </footer>
      </form>
  </article>
</section>
<section class="community-rules">
  <header>
  <h2>Community Rules</h2>
  <p>The best way to encourage learning and professional growth is to ensure
  it's safe to make mistakes. To that end:</p>
  </header>
  <main>
  {% for rule in site.categories.rules %}
    <article>
      <header>
        <h3>{{ rule.title }}</h3>
      </header>
      <main>
        {{ rule.excerpt }}
      </main>
    </article>
  {% endfor %}
  </main>
  <footer>
    <p>We recognize that <a
         href="http://juliepagano.com/blog/2014/01/06/on-making-mistakes/">everyone
         makes mistakes</a>. We are <strong>forgiving, but not
       lenient</strong>. Repeated abuse of these rules will result in
     expulsion from the community.</p>
  </footer>
</section>

<section class="bottom apply-to-join">
  {% include application-form.html %}
</section>
