<!DOCTYPE html>
<head>
  <title>{{ page.title }}</title>
  <meta name="viewport" content="initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/assets/css/site.css" />
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
  <script type="text/javascript" src="/assets/js/site.js"></script>

  {% if page.canonical %}
    <link rel="canonical" href="{{ page.canonical }}" />
  {% endif %}

  {% for js in page.js %}
    <script type="text/javascript" src="/assets/js/{{ js }}.js"></script>
  {% endfor %}

  {% for css in page.css %}
    <link rel="stylesheet" href="/assets/css/{{ css }}.css"></script>
  {% endfor %}

  <script type="text/javascript">
    !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","group","track","ready","alias","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t){var e=document.createElement("script");e.type="text/javascript";e.async=!0;e.src=("https:"===document.location.protocol?"https://":"http://")+"cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(e,n)};analytics.SNIPPET_VERSION="3.0.1";
    {% if site.env == "production" %}
      analytics.load("gdFVw1Gl6JMlAWQbN3vE1sPPvcI1FAPn");
    {% else %}
      analytics.load("FAFG7bcxwMR1l6ljIj1oPLBx9dkSFWlc");
    {% endif %}

    {% if page.track_as && page.meta %}
      analytics.page("{{ page.track_as }}", {{ page.meta | jsonify }});
    {% elsif page.track_as %}
      analytics.page("{{ page.track_as }}")
    {% else %}
      analytics.page();
    {% endif %}
    analytics.page()
  }}();
  </script>
</head>
<body>
{{ page.content }}
</body>
</html>
